body {
  background-color: black;
  text-align: center;
}

h1, .app, h2, img {
  text-align: center;
  font-family: Verdana;
}

h1 {
  font-size: 50px;
  color: white;
}

.app {
  color: aquamarine;
  font-size: 16px;
}

p {
  color: gray;
  font-size: 21px;
}

h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
}

.footer {
  color: gray;
  text-align: right;
}
